

@media only screen and (max-width:500px){
  
  
    .phone {
        position:absolute;
        margin-left:10px;
    }

    .address {
        display: none;
        margin-left:10px;
    }



}



